<div class='dashboard'>
  <app-menu></app-menu>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
      <app-breadcump></app-breadcump>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/122e5f68a8ab4f918867ad0a012628d9_9366/Tenis_Adizero_Adios_Pro_2.0_Branco_FZ2477_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ADIZERO ADIOS PRO 2.0</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/e3235f680bb44ae58d11ad1101051da1_9366/Tenis_NMD_R1_Primeblue_Vermelho_GX7605_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS NMD_R1 PRIMEBLUE</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/e6278785c78a4ffe8180ad7200d679ef_9366/Tenis_4DFWD_Preto_Q46446_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS 4DFWD</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/05f23762578b4bf69a6cad1701066800_9366/Tenis_Forum_Mid_Branco_H00749_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS FORUM MID</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/ed0ca474316a44ba9df4ad60010dc69f_9366/ZX_2K_BOOST_Preto_GY1209_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ADIDAS ZX 2K BOOST</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/d55a5bfc35404d228b4eacb800d333c4_9366/Tenis_NMD_R1_Preto_GZ7922_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ADIDAS TÊNIS NMD_R1</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/237685b5868c409b8390ab51013b8507_9366/Tenis_Ultraboost_20_x_James_Bond_(UNISSEX)_Cinza_FY0647_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ULTRABOOST 20 X JAMES BOND</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/0f3045c2c1e04f72968fabe5010da1d5_9366/Tenis_X9000L4_Branco_FW8410_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS X9000L4</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/98e3e98c0e434f1b8440ad2100accc37_9366/Tenis_Ultraboost_21_Preto_S23867_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ULTRABOOST 21</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/66034bc40a3a4143b21bab96013e3412_9366/Tenis_X9000L3_Preto_EH0055_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS X9000L3</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/8558af87400b4649bab1ac3c0021cab5_9366/Tenis_X9000L4_Preto_FY0775_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS X9000L4</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/cb3d5cf87b4b457db0fead0800cbfca0_9366/Tenis_Superstar_Branco_H00183_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS SUPERSTAR</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/c61d9e2b71754499b408ac1600d52ea6_9366/Tenis_OZWEEGO_Flipshield_Cinza_FX6045_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS OZWEEGO FLIPSHIELD</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/a2475b62f15944e6a3c5ad2b00feafe3_9366/Tenis_Trae_Young_1_Azul_H68997_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS TRAE YOUNG 1</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/7bba6ff67ee74ba0a968ad240083256d_9366/Tenis_NMD_R1_Preto_GX0997_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">TÊNIS ADIDAS NMD_R1</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6a0d6246e26a4852825dad3900baddfd_9366/Tenis_adidas_Ultraboost_x_LEGO(r)_Colors_Branco_FZ3983_01_standard.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">ULTRABOOST X LEGO® COLORS</h5>
                <p class="card-text">
                  UNISSEX
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
