<div class="content">
</div>
<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo" style="margin-left: 150px;"><a></a></h2>
      </div>
      <div class="col-sm-2">
        <h5>Inicio</h5>
        <ul>
          <li><a>Home</a></li>
          <li><a>Cursos</a></li>
          <li><a>Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Sobre-nós</h5>
        <ul>
          <li><a>Contato</a></li>
          <li><a>Blog</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Suporte</h5>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Telefones</a></li>
          <li><a>Chat</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a class="twitter"><i class="fa fa-twitter"></i></a>
          <a class="facebook"><i class="fa fa-facebook"></i></a>
          <a class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <a>
          <button type="button" class="btn btn-default">Contato</button>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p style="margin-left: 170px;">© 2019 Copyright - Universidade Adventista de São Paulo</p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
