<div class='dashboard'>
  <div class="dashboard-nav">
    <header>
      <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo"><i
          class="fas fa-anchor"></i> <span>SHOP TENIS</span>
      </a>
    </header>
    <nav class="dashboard-nav-lsist">
      <a routerLink="/home" class="dashboard-nav-item">
        <img src="assets/images/810836.png" style="height: 55px; padding-left:25px;"></a>
      <a routerLink="/tenis-nike" class="dashboard-nav-item">
        <img src="assets/images/logo-nike-1536.png" style="height: 55px; padding-left: 30px;"></a>
      <a routerLink="/tenis-adidas" class="dashboard-nav-item">
        <img src="assets/images/adidas-logo-1.png" style="height: 30px; padding-left: 30px;"></a>
      <a routerLink="/tenis-mizuno" class="dashboard-nav-item">
        <img src="assets/images/mizuno-logo-1.png" style="height: 30px; padding-left: 30px; margin-top: 12px;"></a>
      </nav>
  </div>
</div>

<nav>

</nav>

