<div class='dashboard'>
  <app-menu></app-menu>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
      <app-breadcump></app-breadcump>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/500x500/produto/tenis-air-jordan-1-mid-554724-371-1-11631631556.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Jordan 1 Mid Masculino</h5>
                <p class="card-text">
                  Basquete/Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/500x500/produto/tenis-air-jordan-1-mid-se-masculino-DM4352-600-1-11624979116.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Jordan 1 Mid SE Masculino</h5>
                <p class="card-text">
                  Basquete
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/500x500/produto/tenis-nike-air-max-97-masculino-DB4611-002-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air Max 97 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-vapormax-2020-flyknit-masculino-CT1823-001-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air VaporMax Flyknit Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-90-3m-masculino-CZ2975-002-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tênis Nike Air Max 90 3M Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-force-1-07-masculino-CW2288-111-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Force 1 '07 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-infinity-2-CU9452-002-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max Infinity 2 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-venture-runner-masculino-CK2944-400-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Venture Runner Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-200-masculino-AQ2568-104-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max 200 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-shox-r4-104265-134-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Shox R4 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-air-max-vg-r-masculino-CK7583-107-1-11623163570.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max VG-R Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-90-masculino-DB3915-003-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air Max 90 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-plus-se-DB0681-400-1-11622138251.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max Plus SE Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-air-vapormax-2021-fk-DH4084-001-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air VaporMax 2021 Flyknit Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-vapormax-evo-masculino-CT2868-001-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air VaporMax Evo Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-97-edicao-especial-masculino-DD5480-902-1.jpg"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Max 97 Edição Especial Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/bb935dab-b920-4833-8f06-5d2a13e5d15c/air-max-95-mens-shoes-95JNSF.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air Max 95 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/46ac8c58-73b7-4d30-83f0-1082a9a17a6a/kyrie-7-basketball-shoes-nNMZ3b.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Kyrie 7 Basketball Shoes</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/1c57ec6e-ce90-4aeb-a558-349a235bc846/air-vapormax-plus-mens-shoes-nC0dzF.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air VaporMax Plus Men's Shoes</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d7331065-c1a3-45c5-abdb-cb8b1c373416/vapor-edge-pro-360-mens-football-cleats-HXd3nk.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Vapor Edge Pro 360 Men's Football Cleats</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/d882f52b-7e51-4ebf-98e1-c106b7ce5f5f/vapor-edge-elite-360-flyknit-mens-football-cleats-qvs9xW.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Vapor Edge Elite 360 Flyknit Men's Cleats</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/i1-a4957969-819c-4096-8356-062257ede9f2/vapor-edge-speed-360-mens-football-cleats-7pZdnc.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Vapor Edge Speed 360</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/93cbefac-dd0d-4988-acae-164d0612ca04/alpha-menace-3-shark-mens-football-cleats-04CgTn.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Alpha Menace 3 Shark</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/0fc316e7-dfa1-46af-a43e-4bd3ecc9f2dc/vapor-edge-pro-obj-mens-football-cleats-bMxFdj.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Vapor Edge Pro OBJ</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/db2ecf1e-a707-4973-8add-0d0069a927ec/alpha-menace-pro-2-mens-football-cleats-fJM5KS.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Alpha Menace Pro 2.0</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/a0883a02-825a-4e00-82a2-a3d9a9fc8d44/alpha-menace-pro-2-mid-mens-football-cleats-XFMBm2.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Alpha Menace Pro 2 Mid</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/0aa19b79-b2ed-41ef-a7b1-5d8df19052b2/force-savage-elite-2-mens-football-cleats-wqgvNJ.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Force Savage Elite 2</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/1db8713a-caaf-43bf-af5c-82f5da70acea/force-savage-varsity-2-mens-football-cleats-Xrm9B1.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Force Savage Varsity 2</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b0c7ff86-c817-49fc-94f5-1536812b0377/vapor-ultrafly-4-keystone-mens-baseball-cleat-4K7t8C.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Vapor Ultrafly 4 Keystone</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fb33ed07-37a8-4955-bcd6-d81ceaf9c131/alpha-huarache-elite-3-low-baseball-cleat-Fj7KdM.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alpha Huarache Elite 3 Low Baseball</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5e007960-a4d2-4c52-9523-bd353106d238/alpha-huarache-elite-3-mid-mens-baseball-cleat-Q0wgJ5.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alpha Huarache Elite 3 Mid Men's Baseball</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5993bcba-bdad-4fc9-bae4-fb85c468b507/alpha-huarache-elite-3-low-baseball-cleat-DtBrs3.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Alpha Huarache Elite 3 Low Baseball</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/b74ff928-0d55-44a4-8316-c0678a204ccb/sb-chron-2-skate-shoes-71Mh0H.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike SB Chron 2 Skate Shoes</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5f3977fe-8e93-441d-b040-12d7e1a50679/sb-zoom-blazer-mid-premium-skate-shoes-Gw3b1K.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Zoom Blazer Mid Premium Skate</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/fde369b3-e480-403b-8aee-db263c535c93/sb-bruin-react-skate-shoes-phlCDx.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike SB Bruin React Skate Shoes</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/cf1b6548-a924-4d58-a51e-158816ea7937/sb-nyjah-free-2-premium-skate-shoe-4dl2wl.png"
                  class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike SB Nyjah Free 2 Premium Skate</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
