<div class='dashboard'>
  <app-menu></app-menu>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
      <app-breadcump></app-breadcump>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/500x500/produto/tenis-air-jordan-1-mid-554724-371-1-11631631556.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Jordan 1 Mid Masculino</h5>
                <p class="card-text">
                  Basquete/Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/500x500/produto/tenis-air-jordan-1-mid-se-masculino-DM4352-600-1-11624979116.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Jordan 1 Mid SE Masculino</h5>
                <p class="card-text">
                  Basquete
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/500x500/produto/tenis-nike-air-max-97-masculino-DB4611-002-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air Max 97 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-vapormax-2020-flyknit-masculino-CT1823-001-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air VaporMax Flyknit Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-90-3m-masculino-CZ2975-002-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tênis Nike Air Max 90 3M Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-force-1-07-masculino-CW2288-111-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Force 1 '07 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-infinity-2-CU9452-002-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max Infinity 2 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-venture-runner-masculino-CK2944-400-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Venture Runner Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-200-masculino-AQ2568-104-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max 200 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-shox-r4-104265-134-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Shox R4 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-air-max-vg-r-masculino-CK7583-107-1-11623163570.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max VG-R Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-90-masculino-DB3915-003-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Nike Air Max 90 Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-plus-se-DB0681-400-1-11622138251.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air Max Plus SE Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-air-vapormax-2021-fk-DH4084-001-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air VaporMax 2021 Flyknit Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-vapormax-evo-masculino-CT2868-001-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Air VaporMax Evo Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://images.lojanike.com.br/235x235/produto/tenis-nike-air-max-97-edicao-especial-masculino-DD5480-902-1.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Max 97 Edição Especial Masculino</h5>
                <p class="card-text">
                  Casual
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
