<div class='dashboard'>
  <app-menu></app-menu>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
      <app-breadcump></app-breadcump>
     <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/186909-292-292/TA%C2%AAnis-de-Corrida-Masculino-Wave-Prophecy-X-WK.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Wave Prophecy X WK</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/185505-300-300/4144334_1-945-01.jpg?v=637620388689230000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tênis Mizuno Wave Viper 4</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/162091-300-300/4144905_1-030-01.jpg?v=637514034110300000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title"> Masculino Mizuno Way</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/169213-300-300/Tenis-de-Corrida-Masculino-Mizuno-Wave-Creation-21c816145f-abab-4e75-9b05-662f35c5d10c.jpg?v=637521946274870000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mizuno Wave Creation 21</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/185048-300-300/4144334_1-692-01.jpg?v=637599988420200000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tênis Mizuno Wave Viper 4</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/161134-300-300/Tenis-de-Corrida-Masculino-Mizuno-W-Prophecy-X-WK-M4fc899e6-f392-48b3-8a02-dca3cd36fa03.jpg?v=637513592129270000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mizuno W Prophecy X WK</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/161028-300-300/Tenis-de-Corrida-Masculino-Mizuno-W-Prophecy-X-M5352eade-87a8-42c6-871c-c0955f872ac3.jpg?v=637513591496530000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mizuno W Prophecy X M</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/185470-300-300/4146251_1-111-01.jpg?v=637620352477730000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mizuno Wave Creation 22</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/187038-300-300/TA%C2%AAnis-de-Corrida-Masculino-Wave-Prophecy-X.jpg?v=637638579284000000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Wave Prophecy X</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/166338-300-300/Tenis-de-Corrida-Masculino-Mizuno-Prophecy-Wave-Knit6fbbb53b-ab65-4fa7-845b-85ce2da214c2.jpg?v=637521586382400000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Mizuno Prophecy Wave Knit</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/168936-300-300/Tenis-de-Corrida-Feminino-Mizuno-Wave-Prophecy-91df9207e-5a11-4833-bfbb-8811c2ca16c4.jpg?v=637521906912170000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Feminino Mizuno Wave Prophecy 9</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/161043-300-300/Tenis-de-Corrida-Masculino-Mizuno-W-Prophecy-X-M4d4e7357-5aa5-4948-b23e-d0691b41f515.jpg?v=637513591576270000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Mizuno W Prophecy X M</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/161008-300-300/Tenis-de-Corrida-Masculino-Mizuno-W-Prophecy-X-Mc6db7327-1cf0-4334-ba73-b13a6c104edb.jpg?v=637513591368730000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Mizuno W Prophecy X M</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/184688-300-300/4146247_1-440-01.jpg?v=637588512176070000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Wave Prophecy X</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/179916-300-300/Tenis-de-Corrida-Masculino-Mizuno-Titan.jpg?v=637523817246400000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Mizuno Titan</h5>
                <p class="card-text">
                  CORRIDA
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mizunobr.vteximg.com.br/arquivos/ids/185491-300-300/4144327_1-009-01.jpg?v=637620376157800000" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Masculino Mizuno City Wind</h5>
                <p class="card-text">
                  CASUAL
                </p>
                <a href="#!" class="btn btn-danger">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
