<div class='dashboard'>
  <app-menu></app-menu>
  <div class='dashboard-app'>
    <div class='dashboard-content'>
      <app-breadcump></app-breadcump>
      <div class='container'>
        <div class='card' style="bottom: 85px;">
          <div class='card-header'>
            <h1>Bem vindo a nossa loja, fique a vontade :D</h1>
          </div>
          <div class='card-body'>
            <img
              src="https://static.nike.com/a/images/f_auto/dpr_2.0/w_1792,c_limit/70d9e54e-94d6-40ae-9690-721a6b235df2/nike-membership.jpg"
              class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
